In [1]:
import pandas as pd

# Load Data

In [2]:
df = pd.read_excel('Online_Retail001.xlsx')

df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France
1,536375,71053,WHITE METAL LANTERN,6,2010-12-01 09:32:00,3.39,17850.0,United Kingdom
2,536381,21934,SKULL SHOULDER BAG,10,2010-12-01 09:41:00,1.65,15311.0,United Kingdom
3,536381,47580,TEA TIME DES TEA COSY,2,2010-12-01 09:41:00,2.55,15311.0,United Kingdom
4,536384,22424,ENAMEL BREAD BIN CREAM,8,2010-12-01 09:53:00,10.95,18074.0,United Kingdom
...,...,...,...,...,...,...,...,...
9995,581538,22991,GIRAFFE WOODEN RULER,1,2011-12-09 11:34:00,1.95,14446.0,United Kingdom
9996,581538,23084,RABBIT NIGHT LIGHT,2,2011-12-09 11:34:00,2.08,14446.0,United Kingdom
9997,581582,23498,CLASSIC BICYCLE CLIPS,12,2011-12-09 12:21:00,1.45,17581.0,United Kingdom
9998,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,2011-12-09 12:49:00,1.25,13113.0,United Kingdom
9999,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France

# Data Preparation

In [3]:
df.describe()

           Quantity                    InvoiceDate     UnitPrice    CustomerID
count  10000.000000                          10000  10000.000000   7526.000000
mean      10.158300  2011-07-02 06:06:49.842000128      3.881760  15266.947250
min     -600.000000            2010-12-01 08:45:00      0.000000  12347.000000
25%        1.000000            2011-03-24 13:10:00      1.250000  13908.000000
50%        3.000000            2011-07-15 14:05:00      2.080000  15128.000000
75%       12.000000            2011-10-17 15:06:15      4.130000  16759.000000
max     4000.000000            2011-12-09 12:50:00    736.380000  18283.000000
std       57.905129                            NaN     14.863321   1704.574949

In [4]:
df["CustomerID"].isna().sum()

np.int64(2474)

In [5]:
df = df.loc[df['Quantity'] > 0]
df = df.dropna(subset="CustomerID")

df.describe()

          Quantity                    InvoiceDate    UnitPrice    CustomerID
count  7349.000000                           7349  7349.000000   7349.000000
mean     12.666349  2011-07-07 20:03:14.108041728     2.962449  15269.442373
min       1.000000            2010-12-01 08:45:00     0.001000  12347.000000
25%       2.000000            2011-04-03 15:22:00     1.250000  13923.000000
50%       6.000000            2011-07-24 11:54:00     1.950000  15128.000000
75%      12.000000            2011-10-18 15:22:00     3.750000  16764.000000
max    2880.000000            2011-12-09 12:50:00   300.000000  18283.000000
std      45.978377                            NaN     5.326559   1705.369038

In [6]:
df["CustomerID"].isna().sum()

np.int64(0)

# Customer-Item Matrix

In [7]:
customer_item_matrix = df.pivot_table(
    index='CustomerID', columns='StockCode', values='Quantity', aggfunc='sum'
)

customer_item_matrix = customer_item_matrix.map(lambda x: 1 if x > 0 else 0)
customer_item_matrix

StockCode,10120,10125,10133,10135,15034,15036,16014,16016,16045,16048,...,90200D,90200E,90205A,90209C,90210C,90214R,C2,M,PADS,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12347.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12348.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12349.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12352.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12354.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18261.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18263.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18265.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18272.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18283.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Collaborative Filtering

In [8]:
from sklearn.metrics.pairwise import cosine_similarity

## User-based Collaborative Filtering

### User-to-User Similarity Matrix

In [9]:
user_user_sim_matrix = pd.DataFrame(
    cosine_similarity(customer_item_matrix),
    columns=customer_item_matrix.index,
    index=customer_item_matrix.index
)

user_user_sim_matrix

CustomerID,12347.0,12348.0,12349.0,12352.0,12354.0,12356.0,12357.0,12358.0,12359.0,12360.0,...,18241.0,18242.0,18245.0,18252.0,18257.0,18261.0,18263.0,18265.0,18272.0,18283.0
CustomerID,,,,,,,,,,,,,,,,,,,,,
12347.0,1.0,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12348.0,0.0,1.00000,0.57735,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12349.0,0.0,0.57735,1.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12352.0,0.0,0.00000,0.00000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12354.0,0.0,0.00000,0.00000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18261.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
18263.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
18265.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
18272.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.288675,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
18283.0,0.0,0.00000,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

### Making Recommendations

找出與 `12347.0` 這個顧客相似的顧客

In [10]:
t = user_user_sim_matrix.loc[12347.0]
assert isinstance(t, pd.Series)
t= t.sort_values(ascending=False)

t.to_frame()

             12347.0
CustomerID
12347.0     1.000000
14790.0     0.500000
14508.0     0.408248
14108.0     0.408248
12381.0     0.353553
...              ...
14307.0     0.000000
14309.0     0.000000
14311.0     0.000000
14312.0     0.000000
18283.0     0.000000

[2368 rows x 1 columns]

接著要找出 12347 曾經購買過的商品。

這裡要使用 `nonzero` 函數，它會回傳元素中不為零的整數索引值。

介紹：

In [11]:
s = customer_item_matrix.loc[12347.0]
assert(isinstance(s, pd.Series))

s.to_frame()

           12347.0
StockCode
10120            0
10125            0
10133            0
10135            0
15034            0
...            ...
90214R           0
C2               0
M                0
PADS             0
POST             0

[2040 rows x 1 columns]

In [12]:
import numpy as np


s, = customer_item_matrix.loc[12347.0].to_numpy().nonzero() # 回傳 index
assert(isinstance(s, np.ndarray))

s

array([ 379, 1574])

傳回 `index` 值，經由 `index` 值去找整筆資料⋯⋯

In [13]:
customer_item_matrix.loc[12347.0].iloc[s] # 由 Series 的 index 值去找出是哪些值

StockCode
21731    1
23506    1
Name: 12347.0, dtype: int64

`set` 為集合，找出 `12347` 購買過的產品

In [14]:
items_bought_by_A = set(customer_item_matrix.loc[12347.0].iloc[s].index)

items_bought_by_A

{21731, 23506}

找出與 12347 最類似的顧客購買過的產品

In [15]:
s, = customer_item_matrix.loc[14790.0].to_numpy().nonzero()

items_bought_by_B = set(customer_item_matrix.loc[14790.0].iloc[s].index)

items_bought_by_B

{21731, 22383}

找出兩者集合的差集

In [16]:
items_to_recommend_to_B = items_bought_by_A - items_bought_by_B

items_to_recommend_to_B

{23506}

從總資料找出 `items_to_recommend_to_B` 的產品編號與說明

In [17]:
df.loc[
    df['StockCode'].isin(items_to_recommend_to_B),
    ['StockCode', 'Description']
]

     StockCode                   Description
7938     23506  MINI PLAYING CARDS SPACEBOY
8418     23506  MINI PLAYING CARDS SPACEBOY
9881     23506  MINI PLAYING CARDS SPACEBOY

去除重覆的產品編號，以及設定 index

In [18]:
df.loc[
    df['StockCode'].isin(items_to_recommend_to_B),
    ['StockCode', 'Description']
].drop_duplicates().set_index('StockCode')

                            Description
StockCode
23506      MINI PLAYING CARDS SPACEBOY

## 問題：Item-based Collaborative Filtering（產品導向協同過濾）

In [19]:
item_item_matrix = df.pivot_table(
    index='StockCode', columns='CustomerID', values='Quantity', aggfunc='sum'
)

item_item_matrix = item_item_matrix.map(lambda x: 1 if x > 0 else 0)
item_item_matrix

CustomerID,12347.0,12348.0,12349.0,12352.0,12354.0,12356.0,12357.0,12358.0,12359.0,12360.0,...,18241.0,18242.0,18245.0,18252.0,18257.0,18261.0,18263.0,18265.0,18272.0,18283.0
StockCode,,,,,,,,,,,,,,,,,,,,,
10120,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10125,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10133,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10135,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15034,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90214R,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
C2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
M,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
PADS,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
POST,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Item-to-Item Similarity Matrix

In [20]:
item_item_sim_matrix = pd.DataFrame(
    cosine_similarity(item_item_matrix),
    columns=item_item_matrix.index,
    index=item_item_matrix.index
)

item_item_sim_matrix

StockCode,10120,10125,10133,10135,15034,15036,16014,16016,16045,16048,...,90200D,90200E,90205A,90209C,90210C,90214R,C2,M,PADS,POST
StockCode,,,,,,,,,,,,,,,,,,,,,
10120,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10125,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10133,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10135,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15034,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90214R,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
C2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
PADS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
POST,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

### Making Recommendations

找出與 10120 這個產品類似的 10 個商品（包含 10120 這個商品共 10 個）

In [21]:
t = item_item_sim_matrix.loc[10120]
assert isinstance(t, pd.Series)

t

StockCode
10120     1.0
10125     0.0
10133     0.0
10135     0.0
15034     0.0
         ...
90214R    0.0
C2        0.0
M         0.0
PADS      0.0
POST      0.0
Name: 10120, Length: 2040, dtype: float64

In [22]:
t1 = t.sort_values(ascending=False)

In [23]:
top_10_similar_items = t1.iloc[:10].index
assert isinstance(top_10_similar_items, pd.Index)

list(top_10_similar_items)

[10120,
 22422,
 20985,
 '84859B',
 '79161A',
 '71406C',
 '35471D',
 '35004B',
 21391,
 84847]

# 找出產品清單

由彙總前資料找出前十名產品的產品編號與說明

In [24]:
df.loc[
    df['StockCode'].isin(top_10_similar_items),
    ['StockCode', 'Description']
]

     StockCode                        Description
135      10120                       DOGGY RUBBER
160     71406C              BLACK ORANGE SQUEEZER
460      10120                       DOGGY RUBBER
1973    35004B        SET OF 3 BLACK FLYING DUCKS
1974     84847                FLORAL BATHROOM SET
4273     21391        FRENCH LAVENDER SCENT HEART
4616    35471D  SET OF 3 BIRD LIGHT PINK FEATHER
6808     10120                       DOGGY RUBBER
6810     21391        FRENCH LAVENDER SCENT HEART
6906    84859B                 BLUE DISCO HANDBAG
8370    79161A   ST GEORGE SET OF 10 PARTY LIGHTS
8807     20985                   HEART CALCULATOR
9683     10120                       DOGGY RUBBER
9684     22422                TOOTHPASTE TUBE PEN

刪除重複的產品編號

In [25]:
df.loc[
    df['StockCode'].isin(top_10_similar_items),
    ['StockCode', 'Description']
].drop_duplicates().set_index('StockCode')

                                 Description
StockCode
10120                           DOGGY RUBBER
71406C                 BLACK ORANGE SQUEEZER
35004B           SET OF 3 BLACK FLYING DUCKS
84847                    FLORAL BATHROOM SET
21391            FRENCH LAVENDER SCENT HEART
35471D     SET OF 3 BIRD LIGHT PINK FEATHER
84859B                    BLUE DISCO HANDBAG
79161A      ST GEORGE SET OF 10 PARTY LIGHTS
20985                       HEART CALCULATOR
22422                    TOOTHPASTE TUBE PEN

按照前十名的順序排序

In [26]:
df.loc[
    df['StockCode'].isin(top_10_similar_items),
    ['StockCode', 'Description']
].drop_duplicates().set_index('StockCode').loc[top_10_similar_items]

                                 Description
StockCode
10120                           DOGGY RUBBER
22422                    TOOTHPASTE TUBE PEN
20985                       HEART CALCULATOR
84859B                    BLUE DISCO HANDBAG
79161A      ST GEORGE SET OF 10 PARTY LIGHTS
71406C                 BLACK ORANGE SQUEEZER
35471D     SET OF 3 BIRD LIGHT PINK FEATHER
35004B           SET OF 3 BLACK FLYING DUCKS
21391            FRENCH LAVENDER SCENT HEART
84847                    FLORAL BATHROOM SET